* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body,
html {
  height: 100vh;
  width: 100vh;
  background-color: #fff;
}

.main {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  justify-content: center;
}

.polygon-chart {
  display: block;
  width: 400px;
  height: 400px;
}